{% extends 'base.html' %}

{% block content%}

<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container mt-5">
        <!--Grid row-->
        
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-md-6 text-center">
                <h4 class="my-4 h4">About K2 Jewelry </h4>

                <p>As the Online Jewelry Center in Asia, we create limitless style possibilities by expanding our product range, from international to coveted local. K2 for your luxury.</p>
                <p> Alamat: 
                    Jl. Pegangsaan Timur No.56, RT.1/RW.1, Pegangsaan, Kec. Menteng, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10310
                </p>
                <p>No.Telp : 021-170845 </p>
                <p class="my-4 h4">Service Center</p>
                <p>E-mail: customer@k2.com Phone: 021 123456</p>

                <p>Direktorat Jenderal Perlindungan Konsumen dan Tertib Niaga </p>
                <p>Kementerian Perdagangan RI</p>
                <p>WhatsApp: +62 853 1111 1010</p>
                <p>



                </p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">
                alamat kami
                <img src="https://i.ibb.co/9HtNtSB/alamat.jpg" link href= "https://goo.gl/maps/BfFoiD6Hr4ShhbXD9" class="img-fluid" alt="" /> 
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="https://i.ibb.co/CJnjwn9/Screenshot-20230603-225225-ZALORA.jpg" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="https://i.ibb.co/pRHgMzn/Screenshot-20230603-225847-ZALORA.jpg" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
</main>
<!--Main layout-->
{% endblock content%}