{% extends 'base.html' %}

{% block content%}

<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container mt-5">
        <!--Grid row-->
        
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-md-6 text-center">
                {% if searched %}
                    <h4> class="my-4 h4">You Search For {{Searched}}</h4>
                    <br/>
                    {% for items in ProdukItem %}
                        {{items}}<br/>
                    {% endfor %}
                
                {% else %}
                    <h4>No Item</h4>
                {% endif %}

            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">
                <img src="https://i.ibb.co/Wf5xJ3f/antingbagus.jpg" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="https://i.ibb.co/CJnjwn9/Screenshot-20230603-225225-ZALORA.jpg" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="https://i.ibb.co/pRHgMzn/Screenshot-20230603-225847-ZALORA.jpg" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
</main>
<!--Main layout-->
{% endblock content%}